head  
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  title Your Message Subject or Title

  //- Take into Less

  //- Targeting Windows Mobile
  //if IEMobile 7
    style(type='text/css')

  //if gte mso 9    
    style
    //- Target Outlook 2007 and 2010 


