doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  include head2

  body.derp
    //- Wrapper/Container Table: Use a wrapper table to control the width and the background color consistently of your email. 
      Use this approach instead of setting attributes on the body tag.
    table#backgroundTable(cellpadding='0', cellspacing='0', border='0')
      tr
        td(valign='top')
        //- Tables are the most common way to format your email consistently. 
          Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. 
          Use nested tables as a way to space effectively in your message.
        table(cellpadding='0', cellspacing='0', border='0', align='center')
          tr
            td(class='gray' width='200', valign='top') HERP DERP
            td(class='purple' width='200', valign='top')
              p.red THIS IS SOME RED TEXT TO TEST lololols
            td(width='200', valign='top')
              //- Gmail/Hotmail image display fix
              img.image_fix(src='full path to image', alt='Your alt text', title='Your title text', width='x', height='x')
              //- Working with telephone numbers (including sms prompts).  
                Use the "mobile" class to style appropriately in desktop clients
                versus mobile clients.
              span.mobile_link 123-456-7890

    //- End of wrapper table

